[submodule "services/auth-server"]
	path = services/auth-server
	url = https://github.com/ProjectOAWA/auth-server.git
[submodule "clients/python-client"]
	path = clients/python-client
	url = https://github.com/ProjectOAWA/python-client.git
